{% trans_default_domain 'FOSUserBundle' %}

<div class="ui raised segment">
	<h2 class="ui dividing header">
		<i class="user icon"></i>
		<div class="content">Cambio de contrase&ntildea</div>
	</h2>

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div class="ui divider"></div>
    <div>
        <input formnovalidate class="ui primary button" type="submit" value="{{ 'change_password.submit'|trans }}" />
		<a href="{{ path('fos_user_profile_show') }}" class="ui button">Cancelar</a>
    </div>
{{ form_end(form) }}
</div>

