{% trans_default_domain 'FOSUserBundle' %}

<div class="card-body">
	<h1 class="ui header">Cambio de clave</h1>
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input formnovalidate class="ui primary button" type="submit" value="{{ 'change_password.submit'|trans }}" />
		<a href="{{ path('fos_user_profile_show') }}" class="ui button">Cancelar</a>
    </div>
{{ form_end(form) }}
</div>

