{% extends 'base.html.twig' %}

{% block title %}Producto index{% endblock %}

{% block body %}
    <h1>Productos</h1>

    <a class="ui primary button" href="{{ path('producto_new') }}">Nuevo</a>
    <table class="ui table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Discontinuado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
            <tr>
                <td>{{ producto.id }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.discontinuado ? 'Yes' : 'No' }}</td>
                <td>
                    <a class="ui __simple button" href="{{ path('producto_show', {'id': producto.id}) }}">Ver</a>
                    <a class="ui __simple button" href="{{ path('producto_edit', {'id': producto.id}) }}">Editar</a>
<button class="ui icon button">
  <i class="cloud icon"></i>
</button>
<div class="ui icon buttons">
  <button class="ui button"><i class="align left icon"></i></button>
  <button class="ui button"><i class="align center icon"></i></button>
  <button class="ui button"><i class="align right icon"></i></button>
  <button class="ui button"><i class="align justify icon"></i></button>
</div>                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}