{% extends 'base.html.twig' %}

{% block title %}Producto index{% endblock %}

{% block body %}
    <h1>Productos</h1>

    <a class="ui primary button" href="{{ path('producto_new') }}">Nuevo</a>
    <table class="ui selectable table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Discontinuado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
            <tr>
                <td>{{ producto.id }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.discontinuado ? 'Yes' : 'No' }}</td>
                <td>
                    <a class="ui icon button" data-content="Ver" href="{{ path('producto_show', {'id': producto.id}) }}"><i class="eye icon"></i></a>
                    <a class="ui icon button" data-content="Editar" href="{{ path('producto_edit', {'id': producto.id}) }}"><i class="pencil icon"></i></a>
				</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}