{% extends 'base.html.twig' %}

{% block body %}
<h1 class="ui header">Control</h1>
<div class="ui segment">
{{ form_start(form) }}
	{{ form_widget(form) }}
	<button class="ui primary button">
		{{ button_label|default('Guardar') }}
	</button>
	<a class="ui button" href="{{ path('asunto_index') }}">Volver</a>
{{ form_end(form) }}
</div>
{% endblock %}

