{% trans_default_domain 'FOSUserBundle' %}

<div class="card-body">
	<h1 class="card-title">Registro de usuario</h1>

	{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
	{{ form_row(form.nombre) }}
	{{ form_row(form.apellido) }}
	{{ form_row(form.email) }}
	{{ form_row(form.username) }}

	{{ form_widget(form) }}
	<div>
		<input class="ui primary button" type="submit"
			value="{{ 'registration.submit'|trans }}" formnovalidate />
	</div>
	{{ form_end(form) }}
</div>