{% extends 'base.html.twig' %}
{% form_theme form.camaras '@ExpandedCollection/Form/semantic-ui_fields.html.twig' %}

{% block title %}Incidente{% endblock %}

{% block body %}
    <h1 class="ui header">{{ incidente.descripcion }}</h1>

<div class="ui raised segment">
    {{ form_start(form) }}
    <button class="ui primary button" formnovalidate>{{ button_label|default('Guardar') }}</button>
    <a class="ui button" href="{{ path('incidente_index') }}">Volver</a>
	<div class="ui divider"></div>
    {{ form_widget(form) }}
	<div class="ui divider"></div>
    <button class="ui primary button" formnovalidate>{{ button_label|default('Guardar') }}</button>
    <a class="ui button" href="{{ path('incidente_index') }}">Volver</a>
    {{ form_end(form) }}
</div>
{% endblock %}
