{% extends 'base.html.twig' %}

{% block title %}Incidente index{% endblock %}

{% block body %}
    <h1 class="ui header">Incidentes</h1>

    <a class="ui primary button" href="{{ path('incidente_new') }}">Agregar</a>

    <table class="ui table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for incidente in incidentes %}
            <tr>
                <td>{{ incidente.id }}</td>
                <td>
                	<a href="{{ path('incidente_board', {'id': incidente.id}) }}">{{ incidente.descripcion }}</a>              
                </td>
                <td>
                    <a href="{{ path('incidente_show', {'id': incidente.id}) }}">ver</a>
                    <a href="{{ path('incidente_edit', {'id': incidente.id}) }}">editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">sin datos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}