{% extends 'base.html.twig' %}

{% block body %}
<h1 class="ui header">Novedad</h1>

<div class="ui raised segment">
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button class="ui primary button" formnovalidate>
		{{ button_label|default('Guardar') }}
	</button>
	<a class="ui button" href="{{ path('novedad_index') }}">Volver</a> <a
		id="ajax" class="ui yellow button" href="#">Ajax call</a>
	<button id="api" class="ui olive button">API call</button>
	{{ form_end(form) }}
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
	$('#ajax').on('click', function(event){
		$.ajax({
			url: '{{ path('novedad_new') }}',
			type: 'POST',
			dataType: 'json',
			async: true,
			success: function(data, status){
				alert('returned: ' + data);
				},
			error: function(xhr, textStatus, errorTrhown){
				alert('ajax failed :-');
				},
		});
	});

	$.fn.api.settings.api = {
			  'get followers' : '/followers/{id}?results={count}',
			  'create user'   : '/create',
			  'add user'      : '/add/{id}',
			  'search'        : '/query/{query}/{/sort}',
			  'add product'   : '{{ path('novedad_new') }}',
	};



	$('#api').api({
		action: 'add product',

		onResponse: function(response) {
			//make some adjustments to response
			alert('onResponse' + response.data); return response;
			},
		successTest: function(response) {
			// test whether a JSON response is valid 
			alert('successTest' + response.data); return response.success || false; 
			},
		onComplete: function(response) {
			// always called after XHR complete
			alert('onComplete' + response.data); return response;
			}, 
		onSuccess: function(response) {
			// valid response and response.success = true 
			alert('onSuccess' + response.data); return response;
			}, 
		onFailure: function(response) {
			// request failed, or valid response but response.success = false 
			alert('onFailure' + response.data); return response;
			},
		onError: function(errorMessage) {
			// invalid response
			alert('onError'); return errorMessage;
			},
		onAbort: function(errorMessage) { 
			// navigated to a new page, CORS issue, or user canceled request 
			alert('onAbort'); return errorMessage;
			}
		});
;

</script>
{# .api({ action: 'add product', onResponse: function(response) { //
make some adjustments to response alert('onResponse'); return response;
}, successTest: function(response) { // test whether a JSON response is
valid alert('onResponse'); return response.success || false; },
onComplete: function(response) { // always called after XHR complete
alert('onResponse'); }, onSuccess: function(response) { // valid
response and response.success = true alert('onResponse'); }, onFailure:
function(response) { // request failed, or valid response but
response.success = false alert('onResponse'); }, onError:
function(errorMessage) { // invalid response alert('onResponse'); },
onAbort: function(errorMessage) { // navigated to a new page, CORS
issue, or user canceled request alert('onResponse'); } }) #}
{% endblock %}
