{% extends 'base.html.twig' %}

{% block body %}
    <h1>Novedades</h1>
    <a class="ui primary button" href="{{ path('novedad_new') }}">Nueva</a>

    <table class="ui table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Descripcion</th>
                <th>Tipo</th>
                <th>Camara</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for novedad in novedads %}
            <tr>
                <td>{{ novedad.fecha ? novedad.fecha|date('d-m-Y H:i') : '' }}</td>
                <td>{{ novedad.descripcion }}</td>
                <td>{{ novedad.control }}</td>
                <td>{{ novedad.camara }}</td>
                <td>
                    <a href="{{ path('novedad_show', {'id': novedad.id}) }}">ver</a>
                    <a href="{{ path('novedad_edit', {'id': novedad.id}) }}">editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}