{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="">Novedad</h1>

    <table class="ui table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ novedad.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ novedad.fecha ? novedad.fecha|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ novedad.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <a class="ui button" href="{{ path('novedad_index') }}">Volver</a>

    <a class="ui button" href="{{ path('novedad_edit', {'id': novedad.id}) }}">editar</a>

{% endblock %}